.cabecalho__menu-hamburguer {
    width: 24px;
    height: 24px;
    background-image: url ("menu.png");
    display: inline-block;
}
.cabecalho{
    background-color: var(--cor-de-fundo);
    padding: 1em;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.container{
    display: flex;
    align-items: center;
}
.container-imagem, .container-titulo,
.container-frase{
    padding: 1em;
}
.container-titulo, .container-frase{
    display: none;
}
@media screen and (min-width: 820px){
    .container-titulo, .container-titulo-negrito{
        font-size: 30px;
}
}
.container-titulo{
    display: block;
    width: 30vw;
}
@media screen and (min-width: 1024px){
    .container-frase{
        display: block;
        font-size: 20px;
        padding-left: 5em;
}
}
.cabecalho__menu-hamburguer{
    width: 24px;
    height: 24px;
    display: inline-block;
}
.menu-hamburguer-imagem{
    width: 24px;
    height: 24px;
    justify-content: space-between;
    align-items: center;
}
.container__imagem{
width: 24px;
height: 24px;
justify-content: space-between;
align-items: center;
}
